body {
  font-family: serif;
  font-weight: light;
  font-stretch: condensed;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.nav {
  overflow: hidden;
  background-color: black;
  position: fixed;
  width: 100%;
}

/* Style the nav links */
.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #8c8c8c;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Header style */
.head1 {
  text-align: center;
  background-color: #AFE1AF;
  font-color: #333;
}

/* header box */
.headbox {
  margin: auto;
  width: 50%;
  border: 3px solid #73AD21;
  padding: 30px;
  text-align: center;
  border-color: black;
  font-size: 60px; 
}

/* Home Page Section 1 Style */
.homesec1 {
  text-align: center;
  background-color: #303033;
  color: #E1DFDB;
}
